  @font-face {
      font-family: "Open Sans";
      /* Название шрифта. Указываем исключительно название шрифта, без sans-serif  serif  */
      src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
          /* формат шрифта  */
          url("../fonts/OpenSans-Light.woff") format("woff");
      /* формат шрифта  */
      font-weight: 300;
      /* Толщина шрифта  */
      font-display: swap;
      /* Если шрифт не загружен, любой элемент, который пытается его использовать, должен быть отрендерен запасным шрифтом. Если за это время шрифт успешно загружается, то он используется, как обычно.  */
      font-style: normal;
      /* Стиль шрифта  */
  }