body {
    font-family: 'Montserrat', Tahoma;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: $gray-100;
    font-style: normal;
    background-color: #fff;
}

.lock {
    overflow: hidden;

    &::after,
    &::before {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 4;
    }
}

.container {
    margin: 0 auto;
    max-width: 1145px;
    padding: 0 15px;
}

.wrapper {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.content {
    flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}