@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

@mixin m($width) {
    @media (max-width: #{$width}px) {
        @content;
    }
}

@mixin hl {
    @media (max-height: 575px) and (orientation: landscape) {
        @content;
    }
}

@mixin hlxl {
    @media (max-height: 1000px) and (orientation: landscape) {
        @content;
    }
}