button,
a {

    &:hover {
        color: $blue-900;
    }

    &:active {
        opacity: 0.7;
    }
}

.int {
    border-radius: 5px;
    transition: all 0.3s;

    &:focus {
        outline: 2px solid $mainColor;
        outline-offset: 5px;
    }
}

.btn {
    padding: 19px 38px 24px 38px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    border-radius: 40px;
    color: #fff;
    background: linear-gradient(180deg, #AEADDD 0%, #7dafff 100%);
    transition: color 0.3s, outline 0.3s;

    @include m($lg) {
        padding: 15px 17px;
        font-weight: 400;
    }

    &:hover {
        color: $blue-900;
    }
}

.currency {
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    color: $black-900;
}

.nav-next,
.nav-prev {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.5;
    }

    svg {
        fill: $blue-100;
    }
}

.play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 58%);
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);

        .play-video__play {
            transform: scale(1.2);
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
    }

    &__play {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        position: relative;
        transition: transform 0.3s;
    }
}

.numbered-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f9faff;
    border-radius: 0px 40px;

    &::before {
        content: '0'counter(item);
        counter-increment: item;
        position: absolute;
        top: -22px;
        left: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: $blue-100;
    }

    &:not(:last-child) {

        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 30px;
            background-color: $blue-100;
            transform: translateY(100%);
            right: -30px;
            top: 50%;
        }

    }
}

.oval {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        transform: rotate(40.88deg);
        background-color: rgba(89, 120, 169, 0.1);
        border-radius: 30px;
    }
}