.delivery {
    text-align: center;

    &__box {
        margin-bottom: 50px;
    }

    &__title {
        max-width: 461px;
        margin-bottom: 20px;

        @include hl {
            max-width: 100%;
            font-size: 25px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        counter-reset: item;
        margin-bottom: 50px;
        text-align: left;
        gap: 30px;

        @include m($xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include m($sm) {
            margin-bottom: 30px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        padding: 30px;
        position: relative;

        &:not(:last-child) {

            @include m($sm) {
                padding: 18px;

                &::after {
                    display: none;
                }
            }

        }

        @include m($xl) {
            &:nth-child(2n) {
                &::after {
                    display: none;
                }
            }
        }

        @include hl {
            padding: 18px;
        }

        @include m($sm) {
            padding: 18px;
        }

    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
        color: #000;
    }

    &__btn {
        display: inline-block;
    }
}