<section class="call-back" style="background-image: url('images/map.jpg');">
    <h2 class="sr-only">
        Заказать обратный звонок
    </h2>
    <div class="container">
        <div class="call-back__form popup section">
            <form class="popup__form form-contact" action="#">
                <h2 class="form-contact__title section__title">
                    Закажите звонок
                </h2>
                <span class="form-contact__subtitle">
                    Прямо сейчас
                </span>
                <label class="sr-only" for="name">ваше имя</label>
                <input class="form-contact__input form-contact__input--name int" type="text" id="name" name="enter-name"
                    placeholder="Ваше имя">
                <label class="sr-only" for="phone">ваш телефон</label>
                <input class="form-contact__input form-contact__input--phone int" type="tel" id="phone"
                    name="enter-phone" placeholder="Ваш телефон">
                <button class="form-contact__btn btn int" type="submit">
                    Заказать
                </button>
            </form>
        </div>
    </div>
</section>