<footer class="footer section">
    <h2 class="sr-only">
        Контакты и информация о нас
    </h2>
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__box">
                <h3 class="footer__title section__title">
                    Контакты
                </h3>
                <address class="footer__address address-footer">
                    <h4 class="address-footer__subtitle">
                        <svg width="16" height="16">
                            <use xlink:href="images/sprite.svg#local"></use>
                        </svg>
                        <span>
                            Наш адрес
                        </span>
                    </h4>
                    <p class="address-footer__date">
                        <span>
                            Минск, бульвар Мулявина, 6
                        </span>
                        <span>
                            Брест, переулок Фортечный, 12
                        </span>
                    </p>
                    <h4 class="address-footer__subtitle">
                        <svg width="16" height="16">
                            <use xlink:href="images/sprite.svg#phone"></use>
                        </svg>
                        <span>
                            Наш телефон
                        </span>
                    </h4>
                    <a class="address-footer__link int" href="tel:11234568899">
                        +1 123 456 88 99
                    </a>
                    <h4 class="address-footer__subtitle">
                        <svg width="16" height="16">
                            <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                        <span>
                            Нашa почта
                        </span>
                    </h4>
                    <a class="address-footer__link int" href="mailto:purify@gmail.com">
                        purify@gmail.com
                    </a>
                </address>
                <img class="footer__img" src="images/footer/1.jpg" alt="paymnet" width="255" height="22">
            </div>
            <div class="footer__info">
                <h3 class="footer__title section__title">
                    о магазине
                </h3>
                <p class="footer__about">
                    Специализированный магазин сертифицированных, оригинальных защитных материалов для органов дыхания и
                    защиты от вируса
                    COVID-19
                </p>
            </div>
        </div>
    </div>
</footer>